body {
	padding-bottom: 40px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: calc(16px + 2vw);
	text-align: center;
	margin:0;
}

p {
	padding: 0;
}

a {
	text-decoration: none;
	color: red;
	font-weight: bolder;
}

#form {
	padding: 1em 0;
}

.form-group {
	padding-bottom: .5em;
	text-align: right;
}

.form-check {
	text-align: left;
	padding-bottom: 1em;
}

input[type=text], input[type=email] {
    padding: .25em .5em;
    padding-left: .5em;
    font-size: 1em;
    border: 3px solid black;
    font-family: monospace;
    width:90%;
}

button.btn {
  margin-top: .5em;
  border: 5px solid red;
  background: white;
  color: black;
  font-weight: bold;
  padding: .1em .25em;
  text-align: center;
  display: inline-block;
  font-size: .9em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.btn:hover {
	color: red;
  	border: 5px solid black;
}

.pad-right {
	padding-right:2vw;
}

.pad-left {
	padding-left:2vw;
}

a:hover {
	text-decoration: underline;
	color: black;
	font-weight: bolder;
}

#content {
	width: 70%;
	margin:0 auto;
}

#content .main {
	padding-top: 1.5em;
}

#content .logo {
	text-align: center;
	font-size: calc(24px + 10vw);
	color: red;
}

#content .img {
	height: calc(22px + 9vw);
	width: calc(22px + 9vw);
	position:absolute;
	margin-top: 2.1vw;
	margin-left: -7vw;
}

#content .text {
	font-size: calc(12px + 1.5vw);
	margin:0 auto;
}

#block {
	border-bottom: 10px solid #ff0000;
	padding:.5em 2em;
}

#form {
	border-bottom: 10px solid #ff0000;
	padding:.5em 2em;
	text-align: left;
}

#total {
  padding-top: .75em;
	border-top: 4px solid #ff0000;
}

#form .text {
	text-align: left;
	font-size: 9px;
	margin:0 auto;
}

table {
	font-size: .8em;
}

table tr td.left {
	vertical-align: top;
	padding-right: 3em;
	font-weight: bold;
}

table tr td.right {
	padding-bottom: 1em;
}

.small{
	font-size: 10px;
}

.sponsors {
	padding: 0;
	margin: 0 auto;
}

.sponsors#block {
	padding: .5em 0;
}

#nav-placeholder {
	position: fixed;
  background: white;
	padding: 0;
	margin: 0 auto;
  z-index: 1;
	width: 70%;
	padding: .25em 0;
	border-bottom: 10px solid red;
}

#nav-placeholder a {
	text-transform: uppercase;
	padding: 0 .5em;
}

ul#horizontal, ul#nav {
	list-style: none;
	width: 100%;
	}

ul#nav {
	padding: 0;
	margin: 0;
}

ul#horizontal {
	padding: 0 0 20px 0;
}

ul#horizontal li, ul#nav li {
		display: inline;
	}

.sponsors img {
	max-height: 100px;
	padding: 1em 2em;
}

ul li {
	font-size: calc(10px + 1.25vw);
	list-style-type: none;
}
