body {
	padding-bottom: 40px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: calc(16px + 2vw);
	text-align: center;
	margin:0;
}

p {
	padding: 0;
}

a {
	text-decoration: none;
	color: red;
	font-weight: bolder;
}

.pad-right {
	padding-right:2vw;
}

.pad-left {
	padding-left:2vw;
}

a:hover {
	text-decoration: underline;
	color: black;
	font-weight: bolder;
}

#content {
	width: 70%;
	margin:0 auto;
}

#content .main {
	padding-top: 1.5em;
}

#content .logo {
	text-align: center;
	font-size: calc(24px + 10vw);
	color: red;
}

#content .img {
	height: calc(22px + 9vw);
	width: calc(22px + 9vw);
	position:absolute;
	margin-top: 2.1vw;
	margin-left: -7vw;
}

#content .text {
	font-size: calc(12px + 1.5vw);
	margin:0 auto;
}

#block {
	border-bottom: 10px solid #ff0000;
	padding:.5em 2em;
}

#form {
	border-bottom: 10px solid #ff0000;
	padding:.5em 2em;
	text-align: left;
}

#form .text {
	text-align: left;
	font-size: 9px;
	margin:0 auto;
}


.small{
	font-size: 10px;
}

.sponsors {
	padding: 0;
	margin: 0 auto;
}

.sponsors#block {
	padding: .5em 0;
}

#nav-placeholder {
	position: fixed;
	padding: 0;
	margin: 0 auto;
	width: 70%;
	background: white;
	padding: .25em 0;
	border-bottom: 10px solid red;
}

#nav-placeholder a {
	text-transform: uppercase;
	padding: 0 .5em;
}

ul#horizontal, ul#nav {
	list-style: none;
	width: 100%;
	}

ul#nav {
	padding: 0;
	margin: 0;
}

ul#horizontal {
	padding: 0 0 20px 0;
}

ul#horizontal li, ul#nav li {
		display: inline;
	}

.sponsors img {
	max-height: 100px;
	padding: 5px 10px;
}


ul li {
	font-size: calc(10px + 1.25vw);
	list-style-type: none;
}